* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Encabezado{
    background-color: whitesmoke;
    width: 100%;
}
.ContenedorLogoEncabezado{
    width: 20%;
}
.LogoEncabezado{
    width: 30%;
    height: 70px;
}
.Opciones{
    width: 13%;
}
.EnlacesEncabezado{
    padding: 5%;
    text-decoration: none;
    text-align: center;
    color: black;
    border-radius: 5px;
    
}
.EnlacesEncabezado:hover{
    padding: 6%;
    background: linear-gradient(0deg, rgb(255, 170, 0), white);
}
.InicioSesion{
    font-weight:bold;
    border: 1px solid gray;
    width: 80%;
    padding: 4%;
    border-radius: 25px;
    background: #ffb612;
}
.InicioSesion:hover{
    background-color: #f4c24c;
}

/* Carrusel */
main {
    position: absolute;
    width: 88%;
    height: 750px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  }
  
  .item {
    width: 200px;
    height: 320px;
    list-style-type: none;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  
    &:nth-child(1), &:nth-child(2) {
      left: 0;
      top: 0;
      width: 113.5%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
    }
  
    &:nth-child(3) { left: 80%; }
    &:nth-child(4) { left: calc(80% + 220px); }
    &:nth-child(5) { left: calc(80% + 440px); }
    &:nth-child(6) { left: calc(80% + 660px); opacity: 0; }
  }
  
  .content {
    width: min(30vw,400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica,sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;
  
    & .title {
      font-family: 'arial-black';
      text-transform: uppercase;
    }
  
    & .description {
      line-height: 1.7;
      margin: 1rem 0 1.5rem;
      font-size: 0.8rem;
    }
  
    & button {
      width: fit-content;
      background-color: rgba(0,0,0,0.1);
      color: white;
      border: 2px solid white;
      border-radius: 0.25rem;
      padding: 0.75rem;
      cursor: pointer;
    }
  }
  
  .item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }
  
  @keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  
 
.nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;
  
    & .btn {
      background-color: rgba(255,255,255,0.5);
      color: rgba(0,0,0,0.7);
      border: 2px solid rgba(0,0,0,0.6);
      margin: 0 0.25rem;
      padding: 0.75rem;
      border-radius: 50%;
      cursor: pointer;
  
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
  
  @media (width > 650px) and (width < 900px) {
    .content {
      & .title        { font-size: 1rem; }
      & .description  { font-size: 0.7rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 160px;
      height: 270px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 170px); }
      &:nth-child(5) { left: calc(50% + 340px); }
      &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
    }
  }
  
  @media (width < 650px) {
    .content {
      & .title        { font-size: 0.9rem; }
      & .description  { font-size: 0.65rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 130px;
      height: 220px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 140px); }
      &:nth-child(5) { left: calc(50% + 280px); }
      &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
    }
  }

.ContenedorFraseMotivadora{
    position: absolute;
    top: 900px;
    width: 100%;
    text-align: center;
    font-family: cursive;
    font-size: 70%;
}

/* Planes de entrenamiento */
  .PlanesEntrenamiento{
    position: absolute;
    top: 1000px;
    padding: 5% 5%;
    border: 1px solid gray;
    margin: 0 5%;
    border-radius: 10px;
}
.Planes{
    margin: 0 4%;
    display: inline-block;
    width: 25%;
    padding: 2%;
    border: 1px solid gray;
    border-radius: 10px;
}
.Planes:hover{
    width: 29%;
    margin: 0 2%;
    padding: 2% 3%;
    .Planes img{
        width: 90%;
        height: 150px;
        border-radius: 5px;
    }
}
.Planes img{
    width: 100%;
    height: 160px;
    border-radius: 5px;
}
.TituloPlan{
    font-size: 150%;
    margin-top: 5%;
    text-align: center;
}
.TextoPlanes{
    margin: 10% 0;
    font-size: 90%;

}
.EnlacePlan{
    width: 40%;
    margin: 0 30%;
    text-decoration: none;
    text-align: center;
    padding: 5%;
    background: linear-gradient(0deg, rgb(255, 170, 0), white);
    border-radius: 5px;
    color: black;
}
.EnlacePlan:hover{
    background: linear-gradient(0deg, rgb(255, 170, 0), red );   
    color: white;
}






/* Pie de pagina */
footer{
    position: absolute;
    top: 1800px;
    width: 100%;
    height: 400px;
    padding: 6% 5%;
    background-color:rgb(20, 32, 32);
    color: whitesmoke;
}
.ContenedorFooter{
    display: inline-block;
    margin: 0 2%;
    padding: 2% 3%;
    width: 25%;
    height: 200px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}
.ListadoRedes, .ListadoPlanes{
    margin: 5%;
}
.Comentarios{
    width: 100%;
}
.ImgPerfil{
    width: 10%;
    display: inline-block;
}
.DatosComentario h5{
    margin-bottom: 5%;
}
.DatosComentario{
    display: inline-block;
    width: 80%;
    padding: 5% 0;
}